:root {
  --bg: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  min-height: 100dvh;
  background-color: var(--bg);
}
nav {
  box-sizing: content-box;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  background-color: rgb(50, 50, 50);
}
nav ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
li {
  display: inline-block;
  width: 80px;
  height: 40px;
  list-style-type: none;
  background: none;
  text-align: center;
  place-content: center;
  border-radius: 4px;
}
li.active {
  background-color: rgb(0, 0, 0);
  color: rgb(199, 199, 199);
  /* border: 1px solid rgb(153, 153, 153); */
}
.links:hover {
  background-color: black;
  opacity: 0.5;
}
.links:active {
  background: none;
}
.links {
  border: none;
}
li:first-child {
  margin-right: auto;
  font-size: 24px;
  width: fit-content;
  text-align: center;
  background: none;
  color: white;
}
li:not(:first-child) a {
  color: rgba(255, 255, 255, 0.65);
}
li:last-child {
  margin-right: 20px;
  border: none;
  color: rgb(255, 255, 255);
  pointer-events: none;
  font-size: 20px;
}
li:last-child a {
  color: inherit;
  font-size: inherit;
}
li a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
li.active a {
  color: inherit;
}

/* 
       section for items
*/

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  justify-content: center;
  place-content: center;
  place-items: center;
  padding: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.product img {
  height: auto;
}
.product :not(img) {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 580px) {
  nav {
    display: none;
  }
}

/* @media screen and (min-width: 730px) {
  main .items {
    width: 360px;
  }
}

@media screen and (min-width: 900px) {
  main .items {
    width: 300px;
  }
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
